<main>
    <h2 class="mention1">1. Responsable du traitement des données personnelles</h2>
    <p class="texte_mentions1">
        Nom de la société : VigiLille 
        Siège social : 39 rue Doudin
        Adresse e-mail : vigilille.contact@outlook.fr 
        Numéro de téléphone : 0124178745
    </p>

    <h2 class="mention1">2. Collecte et traitement des données personnelles</h2>
    <p class="texte_mentions1">
        Nous collectons les données personnelles suivantes lorsque vous utilisez notre site web :
        - Nom et prénom
        - Adresse
        - Numéro de téléphone
        Ces données sont collectées afin d’assurer le bon fonctionnement du service proposé par notre application.  
    </p>

    <h2 class="mention1">3. Base légale du traitement des données</h2>
    <p class="texte_mentions1">
        Nous traitons vos données personnelles sur la base de votre consentement. 
        En utilisant notre site web, vous consentez à la collecte et au traitement de vos données personnelles conformément à cette politique de confidentialité.
    </p>

    <h2 class="mention1">4. Destinataires des données personnelles</h2>
    <p class="texte_mentions1">
        Vos données personnelles peuvent être partagées avec les destinataires suivants :
        - Notre équipe interne
        - Nos prestataires de services tiers (pour l'hébergement du site web ou l'envoi de newsletters)
        Nous ne vendons ni ne louons vos données personnelles à des tiers.                    
    </p>

    <h2 class="mention1">5. Durée de conservation des données</h2>
    <p class="texte_mentions1">
        Nous conservons vos données personnelles tant que vous possédez un profil utilisateur sur l’application.
        Si vous supprimez votre compte, vos données seront supprimées maximum 72h après cette action.                  
    </p>

    <h2 class="mention1">6. Vos droits en matière de données personnelles</h2>
    <p class="texte_mentions1">
        Vous avez le droit :
        - D’accéder à vos données personnelles
        - De modifier vos données personnelles
        - De supprimer vos données personnelles
        - De limiter le traitement de vos données personnelles
        Pour exercer ces droits ou poser des questions concernant le traitement de vos données personnelles, veuillez nous contacter à l'adresse vigilille.contact@outlook.fr 
    </p>

    <h2 class="mention1">7. Sécurité des données</h2>
    <p class="texte_mentions1">
        Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé ou toute divulgation.
    </p>

    <h2 class="mention1">8. Cookies</h2>
    <a id="cookies">
        <p class="texte_mentions1">
            Notre site web utilise des cookies pour améliorer votre expérience de navigation.
            En utilisant notre site web, vous consentez à l'utilisation de cookies conformément à cette politique.
            Vous pouvez retirer votre consentement à tout moment en supprimant les cookies de votre navigateur. La durée de conservation des cookies peut varier en fonction de leur type. 
            Certains cookies sont temporaires et sont automatiquement supprimés lorsque vous fermez votre navigateur, tandis que d'autres peuvent être conservés plus longtemps.
        </p>
    </a>

    <h2 class="mention1">9. Modifications de la politique de confidentialité</h2>
    <p class="texte_mentions1">
        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. 
        Toutes les modifications seront publiées sur cette page.
        Dernière mise à jour : 03/10/2023
    </p>
</main>