<!-- <p>Page d'acceuil</p>-->
<div class="background-image">
    <p class="text_accueil">
        <span class="Vigilille">VigiLille</span> vise à renforcer la communauté en permettant aux citoyens de signaler des problèmes, de demander de l'aide, et de récompenser la contribution citoyenne en encourageant les achats dans les petits commerces de la région. Cela favorise un sentiment d'appartenance à la communauté et un meilleur environnement urbain.<br><br>
    
        Urbanisme - Cette section permet aux citoyens de signaler des problèmes liés à l'urbanisme tels que des nids-de-poule, des routes encombrées, des fuites d'eau, des ampoules défectueuses, etc.<br><br>
        
        Entraide Citoyenne - Cette catégorie facilite la demande et la fourniture d'aide citoyenne. Les services incluent du pet-sitting, des courses pour les personnes à mobilité réduite, le prêt de matériel, et bien plus encore.<br><br>
        
        <span class="middle">Comment fonctionne <span class="Vigilille">VigiLille</span> ?</span><br><br>
        
        Signalement des problèmes d'ordre citoyen : Les citoyens peuvent utiliser le site pour signaler divers problèmes urbains, ce qui contribue à améliorer la qualité de vie dans la ville.<br><br>
        
        Demande d'aide citoyenne : Les citoyens peuvent solliciter de l'aide pour des tâches diverses, favorisant la solidarité entre les habitants de la région.<br><br>
        
        Système de points : Chaque citoyen se voit attribuer des points en fonction de l'aide citoyenne qu'il apporte. Ces points peuvent être utilisés pour obtenir des bons de réduction valables dans les petits commerces locaux.<br><br>
        
        Nous avons comme volonté de rapprocher les citoyens et permettre à la ville d’être plus belle et moins endommagée.
    
    </p>
</div>

