<footer>
    <div class="footer">
        <table border="0" class="table_footer">
            <tr>
                <td><a routerLink="/mentions">- Conditions d'utilisation</a></td>
            </tr>
            <tr>
                <td><a routerLink="/mentions">- Paramètres cookies</a></td>
            </tr>
            <tr>
                <td><a routerLink="/mentions">- Mentions légales</a></td>
            </tr>
            <tr>
                <td><a routerLink="/mentions">- Politique de confidentialité cookies</a></td>
            </tr>
            <tr>
                <td><a href="mailto:nolan.dlc19@gmail.com">- Contacts</a></td>
            </tr>
        </table>
        <img class="logo-vigi-bas" src="../../../assets/Logo Vigi_lille Sans Titre Blanc (bord) seulement.png" alt="Logo lille">
        <div class="bas-de-page">
            <a class="lien_loca_lille" href="https://www.google.com/maps/place/Lille/data=!4m2!3m1!1s0x47c2d579b3256e11:0x40af13e81646360?sa=X&ved=2ahUKEwjArefswdmBAxVvVqQEHdN9As0Q8gF6BAgQEAA&ved=2ahUKEwjArefswdmBAxVvVqQEHdN9As0Q8gF6BAgREAI" target="_blank"> Lille, France</a>
            <small> © Team 19.Tous droits réservés</small>
        </div>

    </div>
    
</footer>
